body {
    background-color:#edeae4; 
    }
h1{
	position: absolute;
	top: 15px;
	width: 100vw;
	height: 70px;
    text-align: center;   
    margin: 0;      
    font-size: 50px;      
}

#s1 {
    position: absolute;
    left: 25%;
    top: 100px;
    width: 50%;  
    z-index: 10;               
    aspect-ratio: 1 / 0.4; 
    height: auto;
    max-height:20vW;        
    overflow: hidden;          
    cursor: pointer;
    transition: aspect-ratio 0.5s ease-in-out, box-shadow 0.5s ease-in-out; 
    box-shadow: 3px 3px 6px rgba(0,0,0,0.5);: ;
}
.s1png {
    width: 100%;                
    height: auto;             
    display: block;
    object-position: top;       
}
#s1:hover {
    aspect-ratio: 1 / 1.5;       
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    max-height:70vw;
}
.book-info1{
  position:absolute;
  top: 100px;
  left: 55%;   
  width: 20%;   
  height: 100px;
  transition: left 0.5s ease;
  opacity: 0;
  line-height: 30px;
}
#s1:hover ~ .book-info1 {
  transform: translatex(20vW);
  transition: transform 0.5s ease;
  opacity: 1
}


#s2 {
    position: absolute;
    left: 25%;
    top: 450px;
    width: 50%; 
    z-index:9;                
    aspect-ratio: 1 / 0.4; 
    height: auto;
    max-height:20vW;       
    overflow: hidden;          
    cursor: pointer;
    transition: aspect-ratio 0.5s ease-in-out, box-shadow 0.5s ease-in-out; 
    box-shadow: 3px 3px 6px rgba(0,0,0,0.5);: ;
}
.s2png {
    width: 100%;                
    height: auto;             
    display: block;
    object-position: top;       
}
#s2:hover {
    aspect-ratio: 1 / 1.5;       
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    max-height:70vw;
}
.book-info2{
  position:absolute;
  top: 450px;  
  left: 55%;   
  width: 20%;   
  height: 100px;
  transition: left 0.5s ease;
  opacity: 0;
  line-height: 30px;
}
#s2:hover ~ .book-info2 {
  transform: translatex(20vW);
  transition: transform 0.5s ease;
  opacity: 1
}


#s3 {
    position: absolute;
    left: 25%;
    top: 800px;
    width: 50%;
    z-index: 8;
    aspect-ratio: 1 / 0.4;     
    height: auto;
    max-height:20vW;    
    overflow: hidden;          
    cursor: pointer;
    transition: aspect-ratio 0.5s ease-in-out, box-shadow 0.5s ease-in-out; 
    box-shadow: 3px 3px 6px rgba(0,0,0,0.5);: ;
}
.s3png {
    width: 100%;                
    height: auto;             
    display: block;
    object-position: top;       
}
#s3:hover {
    aspect-ratio: 1 / 1.5;       
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    max-height:70vw;
}
.book-info3{
  position:absolute;
  top: 800px;
  left: 55%;   
  width: 20%;   
  height: 100px;
  transition: left 0.5s ease;
  opacity: 0;
  line-height: 30px;
}
#s3:hover ~ .book-info3 {
  transform: translatex(20vW);
  transition: transform 0.5s ease;
  opacity: 1
}



#s4 {
    position: absolute;
    left: 25%;
    top: 1150px;
    width: 50%;   
    z-index: 7;              
    aspect-ratio: 1 / 0.4;   
    height: auto;
    max-height:20vW;      
    overflow: hidden;          
    cursor: pointer;
    transition: aspect-ratio 0.5s ease-in-out, box-shadow 0.5s ease-in-out; 
    box-shadow: 3px 3px 6px rgba(0,0,0,0.5);: ;
}
.s4png {
    width: 100%;                
    height: auto;             
    display: block;
    object-position: top;       
}
#s4:hover {
    aspect-ratio: 1 / 1.5;       
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    max-height:70vw;
}
.book-info4{
  position:absolute;
  top: 1150px;
  left: 55%;   
  width: 20%;   
  height: 100px;
  transition: left 0.5s ease;
  opacity: 0;
  line-height: 30px;
}
#s4:hover ~ .book-info4 {
  transform: translatex(20vW);
  transition: transform 0.5s ease;
  opacity: 1
}


#s5 {
    position: absolute;
    left: 25%;
    top: 1500px;
    width: 50%;  
    z-index: 6;               
    aspect-ratio: 1 / 0.4;     
    height: auto;
    max-height:20vW;    
    overflow: hidden;          
    cursor: pointer;
    transition: aspect-ratio 0.5s ease-in-out, box-shadow 0.5s ease-in-out; 
    box-shadow: 3px 3px 6px rgba(0,0,0,0.5);: ;
}
.s5png {
    width: 100%;                
    height: auto;             
    display: block;
    object-position: top;       
}
#s5:hover {
    aspect-ratio: 1 / 1.5;       
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    max-height:70vw;
}
.book-info5{
  position:absolute;
  top: 1500px;
  left: 55%;   
  width: 20%;   
  height: 100px;
  transition: left 0.5s ease;
  opacity: 0;
  line-height: 30px;
}
#s5:hover ~ .book-info5 {
  transform: translatex(20vW);
  transition: transform 0.5s ease;
  opacity: 1
}


#s6 {
    position: absolute;
    left: 25%;
    top: 1850px;
    width: 50%;  
    z-index: 5;               
    aspect-ratio: 1 / 0.4;     
    height: auto;
    max-height:20vW;    
    overflow: hidden;          
    cursor: pointer;
    transition: aspect-ratio 0.5s ease-in-out, box-shadow 0.5s ease-in-out; 
    box-shadow: 3px 3px 6px rgba(0,0,0,0.5);: ;
}
.s6png {
    width: 100%;                
    height: auto;             
    display: block;
    object-position: top;       
}
#s6:hover {
    aspect-ratio: 1 / 1.4;       
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    max-height:70vw;
}
.book-info6{
  position:absolute;
  top: 1850px;
  left: 55%;   
  width: 20%;   
  height: 100px;
  transition: left 0.5s ease;
  opacity: 0;
  line-height: 30px;
}
#s6:hover ~ .book-info6 {
  transform: translatex(20vW);
  transition: transform 0.5s ease;
  opacity: 1
}


#s7 {
    position: absolute;
    left: 25%;
    top:2200px;
    width: 50%;  
    z-index: 4;               
    aspect-ratio: 1 / 0.4;     
    height: auto;
    max-height:20vW;    
    overflow: hidden;          
    cursor: pointer;
    transition: aspect-ratio 0.5s ease-in-out, box-shadow 0.5s ease-in-out; 
    box-shadow: 3px 3px 6px rgba(0,0,0,0.5);: ;
}
.s7png {
    width: 100%;                
    height: auto;             
    display: block;
    object-position: top;       
}
#s7:hover {
    aspect-ratio: 1 / 1.4;       
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    max-height:70vw;
}
.book-info7{
  position:absolute;
  top: 2200px;
  left: 55%;   
  width: 20%;   
  height: 100px;
  transition: left 0.5s ease;
  opacity: 0;
  line-height: 30px;
}
#s7:hover ~ .book-info7 {
  transform: translatex(20vW);
  transition: transform 0.5s ease;
  opacity: 1
}


#s8 {
    position: absolute;
    left: 25%;
    top: 2550px;
    width: 50%;  
    z-index: 3;               
    aspect-ratio: 1 / 0.4;     
    height: auto;
    max-height:20vW;    
    overflow: hidden;          
    cursor: pointer;
    transition: aspect-ratio 0.5s ease-in-out, box-shadow 0.5s ease-in-out; 
    box-shadow: 3px 3px 6px rgba(0,0,0,0.5);: ;
}
.s8png {
    width: 100%;                
    height: auto;             
    display: block;
    object-position: top;       
}
#s8:hover {
    aspect-ratio: 1 / 1.5;       
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    max-height:70vw;
}
.book-info8{
  position:absolute;
  top: 2550px;
  left: 55%;   
  width: 20%;   
  height: 100px;
  transition: left 0.5s ease;
  opacity: 0;
  line-height: 30px;
}
#s8:hover ~ .book-info8 {
  transform: translatex(20vW);
  transition: transform 0.5s ease;
  opacity: 1
}


#s9 {
    position: absolute;
    left: 25%;
    top: 2900px;
    width: 50%;  
    z-index: 2;               
    aspect-ratio: 1 / 0.4;     
    height: auto;
    max-height:20vW;    
    overflow: hidden;          
    cursor: pointer;
    transition: aspect-ratio 0.5s ease-in-out, box-shadow 0.5s ease-in-out; 
    box-shadow: 3px 3px 6px rgba(0,0,0,0.5);: ;
}
.s9png {
    width: 100%;                
    height: auto;             
    display: block;
    object-position: top;       
}
#s9:hover {
    aspect-ratio: 1 / 1;       
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    max-height:70vw;
}
.book-info9{
  position:absolute;
  top: 2900px;
  left: 55%;   
  width: 20%;   
  height: 100px;
  transition: left 0.5s ease;
  opacity: 0;
  line-height: 30px;
}
#s9:hover ~ .book-info9 {
  transform: translatex(20vW);
  transition: transform 0.5s ease;
  opacity: 1
}
