
h1 {
	position: absolute;
	top: 0%;
	right: 0%;
	z-index: 999;
	color: ghostwhite;
}

#seriftitle, #sanseriftitle, #scripttiltle, #designtitle {
  position: relative;
  overflow: hidden;
  color: black;
}

.image-box {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.5s ease; 
  position: absolute;
  top: 0;
  left: 0;
}

.slide-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;   
  height: 100%;
  background: #edeae4;
  z-index: -1; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: serif;
  font-size: clamp(16px, 2vw, 28px); 
  padding: 10px;     /* 글자가 테두리에 딱 붙지 않도록 여백 추가 */
}

#seriftitle:hover .image-box,
#sanseriftitle:hover .image-box,
#scripttiltle:hover .image-box,
#designtitle:hover .image-box {
  transform: translateX(100%); 
}
#seriftitle .image-box{background-image: url("a1.png");}
#sanseriftitle .image-box{background-image: url("a2.png");}
#scripttiltle .image-box{background-image: url("a3.png");}
#designtitle .image-box{background-image: url("a4.png");}



#seriftitle{
	width: 25%;
	height: 100%;
	left: 0%;
	position: absolute;
	display: flex;          
 	justify-content: center;   
 	height: 100%;	
}

#sanseriftitle{
	width: 25%;
	height: 100%;
	position: absolute;
	left: 25%;
	display: flex; 
	justify-content: center; 
  	align-items: center;
}

#scripttiltle{
	width: 25%;
	height: 100%;
	position: absolute;
	left: 50%;
	display: flex; 
	justify-content: center; 
  	align-items: center; 
}

#designtitle{
	width: 25%;
	height: 100%;
	position: absolute;
	left: 75%;
	display: flex; 
	justify-content: center; 
  	align-items: center;  
}

@media (max-width: 768px) {
  ul {
    height: 60vh; 
  }

  #seriftitle, #sanseriftitle, #scripttiltle, #designtitle {
    width: 50%;
    height: 50%;
  }

  #seriftitle {
    left: 0%;
    top: 0%;
  }
  
  #sanseriftitle {
    left: 50%;
    top: 0%;
  }
  
  #scripttiltle {
    left: 0%;
    top: 50%;
  }
  
  #designtitle {
    left: 50%;
    top: 50%;
  }

  .image-box {
    background-size: cover;
  }
  .slide-box p {
  	font-size:20px;
  }
}
